@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<a href="" class="btn btn-primary">NEW MOVIE</a>

<table class="table table-condensed table-responsive table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Genre
            </th>
        </tr>
    </thead>
    @foreach (var movie in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => movie.Name)
            </td>
            <td>
                @Html.DisplayFor(model => movie.Genre.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = movie.Id }) |
                @Html.ActionLink("Details", "Details", new { id = movie.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = movie.Id })
            </td>

        </tr>
    }

</table>