@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@*    <ul class="list-group-item-text">
        @foreach (var customerDto in Model)
        {
            <li class="list-inline ">@customerDto.Id   @customerDto.Name </li>
        }
    </ul>*@





<p>
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-condensed table-responsive table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Memebership Type
            </th>
        </tr>
    </thead>
    @foreach (var customer in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model=> customer.Name)
            </td>
            <td>
                @Html.DisplayFor(model => customer.MembershipType.Name) 
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit",  new { id = customer.Id }) |
                @Html.ActionLink("Details", "Details", new { id = customer.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = customer.Id })
            </td>

        </tr>
    }

</table>